{% extends 'blog/base.html' %}

{% block content %}
  <div class="post">
    <table class="post-list">
      <thead>
        <tr class="table-headers">
          <th class="table-header" id="header-idx" min-width="15vw">번호</th>
          <th class="table-header" id="header-title" min-width="35vw">제목</th>
          <th class="table-header" id="header-auther" min-width="25vw">글쓴이</th>
          <th class="table-header" id="header-date" min-width="25vw">날짜</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
            <tr class="table-lists">
              <td class="table-list" max-width="15vw">{{post.id}}</td>
              <td class="table-list" max-width="35vw"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></td>
              <td class="table-list" max-width="25vw">{{post.author}}</td>
              <td class="table-list" max-width="25vw">{{post.created_date}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="tool-box">
      {% if user.is_authenticated %}
          <a class="button-new-post" href="{% url 'post_new' %}">글 추가하기</a>
      {% endif %}
  </div>
{% endblock %}
